.github-clear {
  clear: both;
}

.github-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div .github-activity {
  border-radius: 6px;
  border: 1px solid rgb(68, 68, 68);
  background-color: rgb(51, 51, 51);
  color: rgb(207, 207, 207);
}

div .github-activity .github-activity-header {
  padding: 12px;
  border: 1px solid rgb(68, 68, 68);
  border-width: 0px 0px 1px;
  box-shadow: 0px 0px 0px -3px transparent;
  transition: box-shadow 0.3s ease-out 0s;
}

div .github-activity h1 {
  font-size: 18px;
  line-height: 18px;
  padding: 0px;
  margin: 0px;
  float: left;
}

div .github-activity h1 a {
  color: rgb(207, 207, 207);
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

div .github-activity .github-button {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  color: rgb(51, 51, 51);
  text-decoration: none;
  display: inline-block;
  padding: 0px 5px 0px 3px;
  font: bold 11px/18px 'Helvetica Neue',Arial,sans-serif;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  white-space: nowrap;
  cursor: pointer;
  background-color: rgb(238, 238, 238);
  background-image: linear-gradient(rgb(255, 255, 255), rgb(222, 222, 222));
  float: right;
}

div .github-activity i.github-icon {
  background: url("../images/github.png");
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin: 0px 3px 0px 0px;
}

div .github-activity .github-activity-body {
  height: 203px;
  overflow-x: hidden;
  overflow-y: scroll;
}

div .github-activity .github-activity-body ul {
  margin: 0px;
  padding: 0px;
  list-style: none outside none;
  border: 0px none;
}

div .github-activity .github-activity-body li {
  border: 1px solid rgb(68, 68, 68);
  padding: 12px 12px 10px 10px;
  border-width: 0px 0px 1px;
}

div .github-activity .github-activity-body li p {
  margin: 0px;
  padding: 0px;
}

div .github-activity .github-activity-body li img {
  float: left;
  display: inline;
}
