@charset "UTF-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Verdana, Geneva, sans-serif;
	background: #666;
}

#heading {
	background: url(images/header-bg.png) repeat-x;
	height: 75px;
}

#heading a {
	color: #CCC;
	text-decoration: none;
}

#heading h1 {
	padding-top: 15px;
}

#menu {
	float: right;
}

#menu a {
	padding: 5px;
	padding-bottom: 1px;
	border: 1px #FFF solid;
}

#menu a:hover {
	background: #CCC;
	color: #000;
	border: 1px #FFF solid;
}

#menu #active {
	background: #CCC;
	color: #000;
	border: 1px #FFF solid;
	border-bottom: 1px #CCC solid;
}

#body {
	padding-top: 30px;
	padding-bottom: 30px;
	background:#CCC;
}

.wrapper {
	width: 950px;
	margin-left: auto;
	margin-right: auto;
}

#heading .wrapper {
	background: url(images/header-bg.png) repeat-x;
	height: 75px;
}

li {
	list-style-position:inside;
}