@charset "UTF-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Verdana, Geneva, sans-serif;
}

#heading {
	background: url(images/header-bg.png) #000;
	width: 100%;
	height: 75px;
}

#heading a {
	color: #CCC;
	text-decoration: none;
}