/***********************************/
/* Color set:                      */
/* - Black (#000000)               */
/* - Grey (#474F58)                */
/* - Dark red (#6B0000)            */
/* - Fair red (#C60000)            */
/* - White (#FFFFFF)               */
/***********************************/

* {
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background: #474F58;
	padding-bottom: 30px;
}

#real_body {
	background: #000000;
	color: #FFFFFF;
	width: 950px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	padding-bottom: 35px;
	padding-top: 35px;
	padding-left: 20px;
}

#bottom {
	padding-top: 20px;
}

#content {
	padding-top: 20px;
}

.wrapper {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

/***********************************/
/* Menu                            */
/***********************************/

#menu {
	background: #6B0000;
	padding-bottom: 27px;
}

#menu ul, li {
	list-style-type: none;
}

#menu li {
	float: left;
}

#menu a {
	text-decoration: none;
	display: block;
	padding: 3px 10px;
	text-align: center;
	color: #FFFFFF;
	border: 1px solid #6B0000;
}


#menu a#current {
	background: #FFFFFF;
	color: #000000;
}

#menu a:hover {
	background: #FFFFFF;
	color: #000000;
}
