#menu {
	background: #6B0000;
	height: 27px;
	margin-bottom: 20px;
}

#menu a { 
	text-decoration: none;
	color: #FFFFFF;
	display: block;
	padding: 3px 10px;
	border: 1px solid #6B0000;
}

#menu a#current {
	background: #FFFFFF;
	color: #000000;
}

#menu a:hover {
	background: #FFFFFF;
	color: #000000;
}

#menu ul {
	padding: 0px;
	list-style: none;
}

#menu ul li {
	float: left;
}

#menu ul li ul {
	background: #6B0000;
	position: absolute;
	width: 10em;
	left: -999em;
}

#menu ul li:hover ul {
	left:auto;
}

#menu ul li ul li {
	width: 100%;
}
