<head>
	<title>{% if page.title %} {{ page.title }} | {% endif %} Antonio Vázquez Blanco</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if page.title %}<meta name="description" content="{{ page.title }}">{% endif %}
	{% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
	{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
	<!-- Style -->
	<link href="/css/bootstrap-3.0.2.min.css" rel="stylesheet">
	<link href="/css/font-awesome-4.1.0.min.css" rel="stylesheet">
	<link href="/css/bootstrap-social-4.5.0.min.css" rel="stylesheet">
	<link href="/css/pygments-1.0.min.css" rel="stylesheet">
	<link href="/css/general-1.0.min.css" rel="stylesheet">
	{% assign theme =  site.time | date: '%s' | modulo: site.themes.size %}
	<link href="/css/bg_{{ site.themes[theme] }}-1.0.min.css" rel="stylesheet">
	<!-- Javascript -->
	<script src="/js/jquery-2.1.0.min.js"></script>
	<script src="/js/bootstrap-3.0.2.min.js"></script>
</head>
