body {
    /* Give a margin for when the screen size is less than the max width */
    margin: 40px auto;
    padding: 0 10px;

    /* Limit maximum width */
    max-width: 650px;

    /* Default text is too small */
    font-size: 18px;

    /* Let the text breathe */
    line-height: 1.6;
}

h1, h2, h3 {
    /* Headers have too much space with the previous setting */
    line-height: 1.2;
}
