---
layout: page
keywords: Antonio Vázquez Blanco, personal webpage, blog
---

<style>
body>.container {
	background-color: #FFF;
	border-radius: 5px;
	margin-bottom: 50px;
}
</style>
<div class="container">
	<!-- Posts -->
	{% for post in paginator.posts %}
		<div>
			<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
			<p><span class="glyphicon glyphicon-time"></span> {{ post.date | date_to_string }} by <a href="https://plus.google.com/+antoniovazquezblanco?rel=author">Antonio Vázquez Blanco</a></p>
			{{ post.content | split:'<!--more-->' | first | strip_html }}
		</div>
		<hr />
	{% endfor %}

	<!-- Pagination -->
	{% if paginator.total_pages > 1 %}
		<div style="text-align:center">
			<ul class="pagination">
				<li {% if paginator.previous_page == nil %}class="disabled"{% endif %}><a href="/blog/{% if paginator.previous_page > 1 %}page{{ paginator.previous_page }}/{% endif %}">&laquo;</a></li>
				{% for page in (1..paginator.total_pages) %}
					<li {% if paginator.page == page %}class="active"{% endif %}><a href="/blog/{% if page > 1 %}page{{ page }}/{% endif %}">{{ page }}</a></li>
				{% endfor %}
				<li {% if paginator.next_page == nill %}class="disabled"{% endif %}><a href="/blog/page{%if paginator.next_page == nil %}{{ paginator.page }}{% else %}{{ paginator.next_page }}{% endif %}">&raquo;</a></li>
			</ul>
		</div>
	{% endif %}
</div>
