<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
	{% include header.html %}
	<!-- Real body -->
	<style>
	body>.container {
	        background-color: #FFF;
	        border-radius: 5px;
		margin-bottom: 50px;
	}
	</style>
	<div class="container">
		<h1>{{ page.title }}</h1>
		<div class="row-fluid">
	                <div class="span6" style="display: inline-block;"><p><span class="glyphicon glyphicon-time"></span> {{ page.date | date_to_long_string }}</p></div>
			<div class="span6 pull-right">{% include share.html %}</div>
		</div>
		<br />
		{{ content }}
		<br />
		{% include comments.html %}
	</div>
	{% include footer.html %}
	{% include share_js.html %}
	{% include tracking.html %}
  </body>
</html>

